# Django
DJANGO_SECRET_KEY=change-me
DEBUG=False
DJANGO_LOGLEVEL=info
# Add the domain or the IP the application is served on
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_ENGINE=postgresql
DATABASE_NAME=bonjour_plant
DATABASE_USERNAME=bonjour_plant
DATABASE_PASSWORD=change-me-too
DATABASE_HOST=db
DATABASE_PORT=5432
