DJANGO_SECRET_KEY=my-django-key
DEBUG=False
DJANGO_LOGLEVEL=info
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_ENGINE=sqlite3
DATABASE_NAME=bonjour_plant_db
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
